#sub{
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    width: 80vw;
    border-bottom: 2px solid gray;
    height: 4vh;
}

.bars{
    width: 8vw;
}


.bars:hover{
    border-bottom: 3px solid rgb(173, 65, 173);
}

.bars Link{
border-bottom: none;
}